<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038952">Системный архитектор R&amp;D</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038942">QA Manager (Руководитель QA отдела продукта)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039458">Senior Front-end Developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038936">Lead Java Backend Developer (Ведущий Java разработчик, бэкенд)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039456">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CORE</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039339">Специалист по тестированию ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WakeApp</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038903">(Senior) full stack developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Софтверке"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039225">Middle Frontend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "АНСЕР ПРО"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039224">Middle/Senior full stack developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "АНСЕР ПРО"</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000027855">Backend &nbsp;разработчик</a></td> 
     <td class="city">Кострома</td> 
     <td class="companyName">iVolga Technologies</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038913">Senior Android Developer (Ведущий Android разработчик)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Just App Inc</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038297">Backend-разработчик (Java, Spring)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">G2</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000038748">Full-stack или back-end developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Фаст Финанс</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039436">Product owner стратегических продуктов</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039444">Ведущий разработчик Frontend (ОФД)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039438">Senior Frontend Developer / Ведущий программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ISKRA</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000039398">Android разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Mint Rocket</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy template"> 
     <td class="title"><a href="/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
   </tbody> 
  </table>  
 </body>
</html>